// clear for styling
*,
*::after,
*::before {
   border: 0;
   margin: 0;
   box-sizing: border-box;
}

// Poppins Google fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

// color variables
$primary: #446df6;
$success: #33ca7f;
$danger: #e01541;
$dark: #121614;
$light: #a4b1aa;

// box-shadow
$boxs: 3px 5px 8px 2px;

// transition variable
$transition: all 250ms ease-out;

body {
   background-color: #e6e6e6;
   font-family: "Poppins", sans-serif;
   padding: 2rem;
   color: $dark;
   // move everything to the center of the
   display: grid;
   place-items: center;
}

.modal-container {
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   background-color: rgba($dark, 0.2);
   display: grid;
   place-items: center; // top and bottom
   opacity: 0;
   pointer-events: none;
   transition: $transition;

   &.active {
      opacity: 1;
      pointer-events: all;
   }

   .modal {
      max-width: 700px;
      max-height: 80vh;
      overflow: auto;
      background-color: white;
      border: 3px solid $dark;
      padding: 2rem;
      position: relative;

      .modal__title {
         font-size: 2rem;
         line-height: 1.2;
         margin-bottom: 1rem;
         max-width: 85%;
      }

      .modal__btn {
         position: absolute;
         top: 0.5rem;
         right: 0.5rem;
         color: $dark;
         font-size: 2rem;
         line-height: 2rem;
         height: 40px;
         width: 40px;
         cursor: pointer;
         border: 3px solid $dark;
         border-radius: 50%; // full circle
         background-color: white;
         box-shadow: $boxs rgba($dark, 0.2);
         transition: $transition;

         &:hover,
         &:focus {
            outline: none;
            border: 3px solid $light;
            color: $light;
            box-shadow: none;
         }
      }
   }
}

.form-container {
   max-width: 1000px;
   margin: 1rem auto; // top 1rem side-to-side auto to stay centered
   // nested elements
   h1 {
      font-size: 3rem;
      text-align: center;
   }

   h3 {
      color: $success;
      text-align: center;
   }

   // top of hidden div for form message alert
   .message {
      margin: 1rem 0 1.5rem; // top, side-to-side, bottom
      color: white;
      padding: 1rem;
      text-align: center;
      // second level nested elements
      &.success-message {
         background-color: $success;
         box-shadow: 2px 4px 7px 2px rgba($success, 0.2);
         // 2px-right, 4px-down, 7px-blur, 2px-spread, 0.2-opacity
      }

      &.remove-message {
         background-color: $primary;
         box-shadow: 2px 4px 7px 2px rgba($primary, 0.2);
      }

      &.alert-message {
         background-color: $danger;
         box-shadow: 2px 4px 7px 2px rgba($danger, 0.2);
      }
   }
}

form {
   display: grid;
   grid-gap: 1rem;
   margin: 1rem 0; // 1rem-top, 0-side-to-side
   width: 100%; // 100% of the parent container

   label,
   input,
   textarea {
      font-family: inherit; // override the default font
      font-size: inherit;
   }

   [for="title"], // styling with for attributes
   [for="note"] {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 1rem;
      grid-gap: 1rem;
      background-color: rgba($light, 0.2);
      font-weight: bold;
   }

   input,
   textarea {
      flex: 1 1 80%; // grow, shrink, fill 80% then wrap below
      border: 3px solid $light;
      padding: 0.5rem;
      color: $dark;
      width: 100%;

      &:focus {
         outline: 2px solid $dark;
      }
   }

   [type="submit"] {
      background-color: $success;
      box-shadow: $boxs rgba($success, 0.2);
      border: 3px solid transparent; // hover stability
      font-size: 1.3rem;
      color: white;
      padding: 0.5rem;
      cursor: pointer;
      transition: all 250ms ease-in-out;

      &:hover,
      &:focus {
         outline: none;
         box-shadow: none;
         border: 3px solid rgba($dark, 0.5);
      }
   }
}

.note-container {
   margin: 2rem auto 1rem;
   display: grid;
   grid-template-columns: repeat auto-fit, minmax(280px, 1fr);
   grid-gap: 1.5rem;

   .note {
      border: 3px solid rgba($primary, 0.2);
      padding: 1.5rem;
      transition: all 250ms ease-out;
   }

   .note__title {
      font-size: 2rem;
      margin-bottom: 0.5rem;
   }

   .note__body {
      overflow: hidden;
      max-height: 8rem;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
   }

   .note__btns {
      display: grid;
      grid-template-columns: auto auto; // notes side-by-side
      grid-gap: 0.5rem;
      .note__btn {
         font-family: inherit;
         font-size: inherit;
         padding: 0.5rem 1rem;
         margin-top: 1rem;
         color: white;
         cursor: pointer;
         transition: $transition;

         &:focus,
         &:hover {
            box-shadow: none;
         }
      }

      .note__view {
         background-color: $primary;
         box-shadow: $boxs rgba($primary, 0.2);
      }

      .note__delete {
         background-color: $danger;
         box-shadow: $boxs rgba($danger, 0.2);
      }
   }
}
